<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в личный кабинет</title>
    <link rel="stylesheet" href='{% static "css/authentication.css" %}'>
    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'js/registration.js' %}"></script>
</head>
<body>
    <div class="poleForAut">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="login">
                <label for="{{ form.email.id_for_label }}">Почта (ОСЭП)</label>
                {{ form.email }}
            </div>
            <div class="password">
                <label for="{{ form.password.id_for_label }}">Пароль</label>
                {{ form.password }}
            </div>
            <button type="submit" class="logIn">Войти</button>
        </form>

        <div class="register-link">
            <p>Нет аккаунта?</p>
            <a href="{% url 'register_view' %}" class="register-button">Зарегистрироваться</a>
        </div>
    </div>
</body>
</html>
