{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль студента</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
</head>
<body>
    <header class="app-header">
        <div class="header-container">
            <div class="header-brand">
                <span class="logo-icon">
                    <img src="{% static 'images/logo.png' %}" alt="" style="width: 40px; height: 40px;">
                </span>
                <h2><span class="logo-text">АСТРА</span></h2>
            </div>
        </div>
    </header>

    <main class="allPole" style="margin-top: 100px;">
        <h2>Заполните личные данные</h2>
        <form class="form-detail" action="{% url 'form_registration' %}" method="POST" id="myform">
            {% csrf_token %}

            <div class="form-group">
                <label for="first_name">Имя</label>
                <input type="text" name="first_name" id="first_name" class="input-text"
                       value="{{ request.user.studentdata.first_name|default:'' }}" required>
            </div>

            <div class="form-group">
                <label for="last_name">Фамилия</label>
                <input type="text" name="last_name" id="last_name" class="input-text"
                       value="{{ request.user.studentdata.last_name|default:'' }}" required>
            </div>

            <div class="form-group">
                <label for="middle_name">Отчество</label>
                <input type="text" name="middle_name" id="middle_name" class="input-text"
                       value="{{ request.user.studentdata.middle_name|default:'' }}">
            </div>

            <div class="form-group">
                <label for="institute">Институт</label>
                <select name="institute" id="institute" class="input-text" required>
                    {% for institute in institutes %}
                        <option value="{{ institute.id }}" {% if request.user.studentdata.institute.id == institute.id %} selected{% endif %}>
                            {{ institute.name }} {{ institute.short_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="group">Группа</label>
                <input type="text" name="group" id="group" class="input-text"
                       value="{{ request.user.studentdata.group.name|default:'' }}" required>
                {{ messages.non_field_errors }}
            </div>

            <button type="submit" class="logIn">Сохранить</button>
        </form>
    </main>
</body>
</html>
