<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание аккаунта</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">

    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'js/registration.js' %}"></script>
</head>
<body>
    <header class="app-header">
        <div class="header-container">
            <div class="header-brand">
                <span class="logo-icon">
                    <img src="{% static 'images/logo.png' %}" alt="" style="width: 40px; height: 40px;">
                </span>
                <h2><span class="logo-text">АСТРА</span></h2>
            </div>
        </div>
    </header>

    <div class="allPole">
        <h2>Регистрация</h2>
        <div class="wOutName">
            <div class="poleForAut">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        <label>Почта (ОСЭП)</label>
                        {{form.email}}
                    </div>

                    <div class="form-group">
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                    </div>

                    <div class="form-group">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                    </div>

                    <button type="submit" class="logIn">Зарегистрироваться</button>
                </form>

            </div>
        </div>

        <div class="auth-link">
            <p>Личный кабинет уже создан?</p>
            <a href="{% url 'login_view' %}">Авторизоваться</a>
        </div>
    </div>

</body>
</html>
