body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.poleForAut {
    background: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

.login,
.password {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #6c63ff;
    outline: none;
}

button.logIn {
    background: black;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

button.logIn:hover {
    background: grey;
}

button.logIn:active {
    transform: translateY(1px);
}

.non_field_errors {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}


.register-link {
    margin-top: 20px;
    text-align: center;
}

.register-link p {
    font-size: 14px;
    color: #333;
}

.register-link a {
    color: #6c63ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.register-link a:hover {
    color: #5146c6;
}