[Unit]
Description=OsaMPEI Django app (gunicorn)
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/main_project/OsaMPEI/web_tests
EnvironmentFile=/root/main_project/OsaMPEI/web_tests/.env
ExecStart=/root/main_project/OsaMPEI/.venv/bin/gunicorn web_tests.wsgi:application --bind 0.0.0.0:8000 --workers 3
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
