{% extends 'solving_tests/header.html' %}

{% load static %}

{% block title %}{{ test.name_slug_tests }}{% endblock %}

{% block extra_css %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href='{% static "css/specific_test.css" %}'>
    <link rel="stylesheet" href="https://unpkg.com/mathlive/dist/mathlive.css">
{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/mathlive"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src='https://unpkg.com/mathlive/dist/mathlive.min.js'></script>

    <script src="{% static 'js/specific_test.js' %}"></script>
    <script src="{% static 'js/macros-mathJax.js' %}"></script>
    <script src="{% static 'js/mathJax-rus.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="page-container">
        <!-- Левая панель (15%) -->
        <div class="left-sidebar">
            <div class="content-left">
                <!-- Таймер -->
                    <div class="sidebar-timer">
                        <h4>До окончания</h4>
                        <div id="timer">{{ test.time_to_solution }}</div>
                    </div>

                    <div class="navigation-sidebar">
                        {% for ex in expressions_with_options %}
                            <a class="task-number" id="nav-{{ forloop.counter }}" href="#task-{{ forloop.counter }}">{{ forloop.counter }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Основной контент (85%) -->
        <div class="main-content">
            <h1 class="test-title">{{ test.name_tests }}</h1>

            <div class="list-expr">
                <ul>
                    {% for ex in expressions_with_options %}
                        <!-- Обёртка вопроса для JS -->
                        <div class="question-card" data-question="{{ forloop.counter }}">
                            <h4 class="number">Номер {{ forloop.counter }}.</h4>
                            <div class="express" id="task-{{ forloop.counter }}">
                                <p><li>$$ {{ ex.expression.user_expression }} $$</li></p>
                            </div>
                            {% if ex.exist_select %}
                                <div class="options">
                                    <p>Выберите правильный вариант:</p>
                                    <ul>
                                        {% for option in ex.options %}
                                            <li>
                                                <label>
                                                    <input type="checkbox"
                                                           name="answer_{{ forloop.counter }}"
                                                           value="{{ option.strip }}">
                                                    $$ {{ option.strip }} $$
                                                </label>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <div class="sec-info">
                                    <li>
                                        {% if ex.expression.user_eps == '0' or ex.expression.user_eps == '0.0' %}
                                            Дать точный ответ.
                                        {% else %}
                                            Дать ответ с точностью до {{ ex.expression.user_eps }}.
                                        {% endif %}
                                    </li>
                                </div>
                                <math-field class="answer"
                                            name="answer_{{ forloop.counter }}"
                                            id="math-field-{{ forloop.counter }}"
                                            placeholder="Ответ"></math-field>
                            {% endif %}
                            <hr>
                        </div>
                    {% endfor %}
                </ul>
            </div>

            <form id="answerForm"
      action="{% url 'solving_tests:some_test_for_student' test.name_slug_tests %}"
      method="post"
      data-total="{{ expressions_with_options|length }}">
  {% csrf_token %}
  <input type="hidden" name="binaryAnswers" id="binaryAnswers">
  <button type="submit">Завершить тест</button>
</form>


        </div>
    </div>
{% endblock %}


