{% extends 'base.html' %}

{% load static %}

{% block title %}Список тестов{% endblock %}

{% block extra_css %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href='{% static "css/test_selection.css" %}'>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/test_selection.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="main">
        <h2> Список всех тестов </h2>

        <ul class="list-tests">
            {% for name in tests %}
            <div class="name_test">
                <li>
                    {{ forloop.counter }}
                    <a href="{{name.name_slug_tests}}"> {{ name.name_tests }} </a>
                </li>
            </div>

                <hr>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
