{% extends 'base.html' %}

{% load static %}

{% block title %}Список тестов{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/some_test.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/mathlive/dist/mathlive.core.css">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static '/js/some_test.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'js/macros-mathJax.js' %}"></script>
    <script src='https://unpkg.com/mathlive/dist/mathlive.min.js'></script>
{% endblock %}

{% block content %}
<div class="inf">
    <p>Общая информация:
    </p>
    <p> Время на решение: {{ test.time_to_solution }}</p>
    <p> Последнее изменение: {{ test.time_last_change }}</p>
    <p>Статус:
        {% if ex.is_public == 1 %}
            Опубликован
        {% else %}
            Не опубликован
        {% endif %}
    </p>
</div>

<div class="main-content">
    <ul class="list-expr">
        {% for ex in test.expressions.all %}
        <li>
            <p>Номер {{ forloop.counter }}</p>
            <p>$$ {{ ex.user_expression }} $$</p>
            <div class="sec-info">
                <p>Ответ: $$ {{ ex.user_ans }} $$</p>
                <p>
                    {% if ex.user_eps == 0.0 %}
                    Ответ точный
                    {% else %}
                    Точность: {{ ex.user_eps }}
                    {% endif %}
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="actions">
        <button class="public-btn">Опубликовать</button>
        <button class="edit-btn">Редактировать</button>
        <button class="delete-btn">Удалить</button>
    </div>
</div>
{% endblock %}